# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Operating system files
.DS_Store
Thumbs.db

# Project-generated data files
data/*.csv

# Project-generated result files
results/*.csv


# Editor / IDE configuration
.vscode/
.idea/